<div id="work" ng-controller="WorkCtrl">

<div class="section banner mar-bottom-med">
	<div class="section-fixed">
		<div class="col12">
			<h6>This is the portfolio of</h6>
			<h1>CARISA TONG</h1>
			<p> Look around and <a href="#/contact">get in touch.</a></p>
		</div>
	</div>
</div>

<div class="section tiles">
	<div class="section-fixed" ng-repeat="tile in tiles">
		<div  class="{{tile.col_size}} tile fadein fadeout" style="background-image: url({{tile.cover}}); background-size: {{tile.cover_size}};background-position:{{tile.cover_pos}};"  ng-mouseenter="hover(tile)" ng-mouseleave="hover(tile)" ng-click="click(tile)" ng-show="!tile.show_expanded" scroll-to="tile.idee" scroll-on-click>
				<div class="hover-trans" ng-class="{ 'blackoverlay': tile.black_overlay, 'showoverlay': tile.show_title }">
					<div class="info" ng-show="tile.show_title">
						<h2>{{tile.name}}</h2>
						<p>{{tile.type}}</p>
					</div>
				</div>
		</div>
		<div id="{{tile.idee}}" class="col12 expanded fadein fadeout" ng-show="tile.show_expanded" >
			<div class="exit" ng-click="clickX(tile)">
				+
			</div>
			<div class="pic-to-link" ng-show="!tile.has_slider">
				<a href="{{tile.img_link}}" target="blank"> <div class="pic" style="background-image: url({{tile.cover}}); background-size: {{tile.exp_size}};background-position:{{tile.exp_pos}};"></div>
				</div></a>
			<div class="container slider" ng-show="tile.has_slider" ng-keypress="keyup($event, tile.slider)" >
			    <div ng-repeat="slide in tile.slider" class="slide slide-animation" style="background-image: url({{slide.image}});" ng-style="picstyles(slide)" ng-hide="!isCurrentSlideIndex($index)">
			    </div>

			    <!-- ng-bind="windowWidth" -->
			    <a class="arrow prev" ng-click="nextSlide(tile.slider)" ></a>
   				<a class="arrow next" ng-click="prevSlide(tile.slider)"></a>
			    <nav class="nav">
		            <div class="wrapper">
		                <ul class="dots">
		                    <li class="dot" ng-repeat="slide in tile.slider">
		                        <a  ng-class="{'active':isCurrentSlideIndex($index)}"
		                          ng-click="setCurrentSlideIndex($index);"></a>
		                    </li>
		                </ul>
		            </div>
		        </nav>
			</div>
			<div class="description">
				<div class="col10">
					<h2>{{tile.name}}</h2>
					<h5>{{tile.type}}</h5>
					<p class="mar-bottom-small">{{tile.descrip}}</p>
					<div class="mar-bottom-small" ng-class="{'issues':tile.haslinks}" ng-repeat="dict in tile.issues">
						<div ng-repeat="(key, value) in dict">
							<a href="{{value}}" target="blank"><p>{{key}}</p></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	


		
	</div> 

</div>

</div>