/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.section {
   width: 100%;
   float: left; 
}

.section-fixed {
    width: 70%;
    margin: 0 auto;
    /*margin-left: auto;
    margin-right: auto;
    float: left;*/
}


/* The Percentage-based grid, akin to bootstrap */
.col1, 
.col2, 
.col3, 
.col4, 
.col5, 
.col6, 
.col7, 
.col8, 
.col9, 
.col10, 
.col11,
.col12 {
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing:border-box; /* makes padding on percentage based widths inside the alloted 100% */
}
.col12 {
    width: 100%;
}
.col11 {
    width: 91.66667%;
}
.col10 {
    width: 83.33333%;
}
.col9 {
    width: 75%;
}
.col8 {
    width: 66.66667%;
}
.col7 {
    width: 58.33333%;
}
.col6 {
    width: 50%;
}
.col5 {
    width: 41.66667%;
}
.col4 {
    width: 33.33333%;
}
.col3 {
    width: 25%;
}
.col2 {
    width: 16.66667%;
}
.col1 {
    width: 8.33333%;
}

/*FONTS*/

body {
  font-family: 'Cabin', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-weight: 600;
  font-size: 2em;
}

h3 {
  font-weight: 500;
  font-size: 2em;
}

h4 {
  font-weight: 400;
  font-size: 1.5em;
}

h5 {
  font-weight: 700;
  font-size: 1em;
}

h6 {
  font-weight: 400;
  font-size: 1em;
}



p {
  font-weight: 400;
  font-size: 1em;
}

body {
  background-color: #F4F7F5
}

.page-fadein.ng-enter
/*,.ng-enter.ng-enter-active,*/
 { 
  animation: page-fadein 0.5s  ease-in; 
  z-index: 8888; 
}
.page-fadein.ng-leave
/*,.ng-leave.ng-leave-active */
{
  animation: page-fadeout 0.5s both ease-in; 
  z-index: 9999; 
}



@-webkit-keyframes page-fadein {
  0% { 
    opacity: 0;
  }
  100%   {
    opacity: 1;
  }
}
@-moz-keyframes page-fadein {
   0% { 
    opacity: 0;
  }
  100%   {
    opacity: 1;
  }
}
@-o-keyframes page-fadein {
   0% { 
    opacity: 0;
  }
  100%   {
    opacity: 1;
  }
}
@keyframes page-fadein {
   0% { 
    opacity: 0;
  }
  100%   {
    opacity: 1;
  }
}

@-webkit-keyframes page-fadeout {
  0% { 
    opacity: 1;
  }
  100%   {
    opacity: 0;
  }
}
@-moz-keyframes page-fadeout {
   0% { 
    opacity: 1;
  }
  100%   {
    opacity: 0;
  }
}
@-o-keyframes page-fadeout {
   0% { 
    opacity: 1;
  }
  100%   {
    opacity: 0;
  }
}
@keyframes page-fadeout {
   0% { 
    opacity: 1;
  }
  100%   {
    opacity: 0;
  }
}

.mar-bottom-small {
  margin-bottom: 2em;
}

.mar-bottom-med {
  margin-bottom: 5em;
}

.mar-bottom-large {
  margin-bottom: 8em;
}



.section.h {
  background-color: #F4F7F5;
}

.header {
  margin-top: 2em;
  text-transform: uppercase;
  /*position: fixed;*/
  
}

.header .header-left {
  padding-left: 2.5em;
}

.header .header-left h4 {
  float: left;
  /*font-weight: 500;*/
  font-size: 1em;
}

.header .header-left p {

}


.header .header-right {
  padding-right: 2.5em;
  float:right;
  margin: 1.5em 0 3em 0;
}

.header .header-right a {
  text-decoration: none;
  padding-left: 2em;
  font-size: .7em;  
}

.header a {
  color: #08090A;
  -webkit-transition:color .25s ease;
  -moz-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
  
}

.header a:hover {
  color: #9FA4A9;

}



/*WORK PAGE*/

#work .banner {
  /*background-color: #C2D3CD;*/
  background: #C2D3CD; 
  background: -webkit-linear-gradient(to left,#C2D3CD , #D4D3DD); 
  background: linear-gradient(to left, #C2D3CD , #D4D3DD);
  /*background-color: #08090A;*/
  padding: 10em 0 9em 0;
  /*text-align: center;*/
}

#work .banner .section-fixed {
  width: 70%;
}

#work .banner h1, 
/*#work .banner h6, */
#work .banner p{
  color: #F4F7F5;
}

#work .banner h1, 
#work .banner h6{
  /*text-transform: uppercase;*/
  margin: 0;
}

#work .banner h1 {
  font-size: 5em;
  line-height: 1.15em;
  letter-spacing: .02em;
  /*color: #C2D3CD;*/
}

#work .banner h6 {
  margin-left: .5em ;
  font-style: italic;
  color: #F4F7F5;
  font-size: 1.2em;
}

#work .banner p {
  margin-top: 3em;
  margin-left: .5em ;
}

#work .banner a{
  text-decoration: none;
  color: #9FA4A9;
  -webkit-transition:color .25s ease;
  -moz-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

#work .banner a:hover{
  color: #847E89;
}

#work .tiles {
  margin-bottom: 7em;
}


#work .tiles .tile {
  height: 24em;
  border: .5em solid #F4F7F5;
  background-repeat: no-repeat;
  cursor:pointer;
}


#work .tiles .blackoverlay {
  height: 100%;
  background: #08090A;
  opacity:.85;
  position: relative;
}

#work .tiles .hover-trans {
  -webkit-transition:all ease .2s;
  -moz-transition:all ease .2s;
  -o-transition:all ease .2s;
  transition:all ease .2s;
}

#work .tiles .showoverlay {
  height: 100%;
  background: #C2D3CD;
  opacity:.95;
  
  position: relative;
}




#work .tiles .tile .info {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 1em 2em;
  color: #F4F7F5;
}

#work .tiles .tile/*:hover*/ .info {
  display: block;
}

#work .tiles .tile/*:hover*/ .info h2{
  line-height: 1.25em;
  margin: 0;
}

#work .tiles .tile/*:hover*/ .info p {
  line-height: 1.8em;
  margin: 0;
}

/*#work .tiles .expanded {
  display: none;
  height: 0em;
  opacity: 0;
  -webkit-transition:all linear 2s;
  transition:all linear 2s;
}
*/


#work .tiles .expanded{
 /* height: 40em;
  display: block;*/
  border-right: 1em solid #F4F7F5;
  background-color: #08090A;
  margin: .5em;
  /*opacity: 1;*/
  /*-webkit-transition:all linear 2s;
  transition:all linear 2s;*/
}

#work .tiles .fadein,
#work .tiles .fadeout {
  -webkit-transition:all linear .3s;
  -moz-transition:all linear .3s;
  -o-transition:all linear .3s;
  transition:all linear .3s;
}

#work .tiles .fadein.ng-hide-remove,
#work .tiles .fadeout.ng-hide-add.ng-hide-add-active {
  /*width: 0;*/
  opacity: 0;
  display: block !important;
}

#work .tiles .fadeout.ng-hide-add,
#work .tiles .fadein.ng-hide-remove.ng-hide-remove-active {
  /*width: 100%;*/
  opacity: 1;
  display: block !important;
}



/*#work .tiles .expanded.show {
  background-color: blue;
  -webkit-transition:all linear 2s;
  transition:all linear 2s;
}



#work .tiles .expanded{
  height: 40em;
  display: block;
  border-right: 1em solid #F4F7F5;
  background-color: #08090A;
  margin: .5em;
  opacity: 1;
  -webkit-transition:all linear  2s;
  transition:all linear 2s;
}*/

/*.expanded.ng-hide {
  height: 0em;
  opacity: 0;
  background-color: blue;
}*/

/*.expanded.ng-hide-add, .expanded.ng-hide-remove {
    -webkit-transition:all linear 10s;
  transition:all linear 10s;
  }*/





#work .tiles .expanded .exit{
  color: #F4F7F5;
  float: right;
  margin: .5em .75em;
  cursor: pointer;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: 200;

  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}


/*slider heyo*/


#work .slider .slide{
  height: 30em;
  border: 1em solid #08090A;
  background-repeat: no-repeat;
  background-color: #08090A;
}

#work .slider a {
  cursor: pointer;
}

#work .slider .arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -15em;
    width: 3em;
    height: 6em;
    /*outline: none;*/
    cursor: pointer;
    background: url(img/blank.gif) no-repeat;
}

#work .slider .arrow.prev {
    opacity: .8;
    left: 20px;
    /*background-image: url(img/paddle_prev_999.png);*/
    background-image: url(img/paddle_prev_fff.png);

    transition: 0.2s linear all;
}

#work .slider .arrow.next {
    opacity: .8;
    right: 20px;
    /*background-image: url(img/paddle_next_999.png);*/
    background-image: url(img/paddle_next_fff.png);

    transition: 0.2s linear all;
}

#work .slider .arrow.prev:hover {
    opacity: 1;
    background-image: url(img/paddle_prev_fff.png);
}

#work .slider .arrow.next:hover {
    opacity: 1;
    background-image: url(img/paddle_next_fff.png);
}


#work .slider .nav {
    text-align: center;
    display: block;
    /*position: absolute;*/
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

#work .slider .nonDraggableImage{
    -webkit-user-drag: none;
}

#work .slider .nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

#work .slider .nav ul {
    margin: 0;
    width: 90%;
}

#work .slider .nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

#work .slider .dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

#work .slider .dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

#work .slider .dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

#work .expanded .description {
  margin: 2em;
}

#work .expanded .description h2, 
#work .expanded .description h5,
#work .expanded .description p{
  color: #F4F7F5;
}

#work .expanded .description h2,
#work .expanded .description h5{
  margin: 0;
}

#work .expanded .description h5 {
  padding-bottom: 1em;
}

#work .expnaded .pic-to-link {
  cursor: pointer;
}

#work .expanded .pic-to-link .pic {
  background-repeat: no-repeat;
  height: 20em;
  
}

#work .expanded .description .issues div {
  display: inline;
}


#work .expanded .description .issues a{
  display: inline;
  text-decoration: none;

}

#work .expanded .description .issues p{
  display: inline;
  vertical-align: top;
  padding-right: 1em;
   color: #C2D3CD;
   opacity: .6;
  -webkit-transition:opacity .25s ease;
  -moz-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}



#work .expanded .description .issues p:hover {
  /*color: #C2D3CD;*/
  opacity: 1;
}



/*experience*/
#exp .section-fixed {
  width:70%;
  padding-left: 8em;
}

#exp .exp-description {

  width: 80%;
}

#exp h2,
#exp h3,
#exp h4,
#exp p {
  padding-left: 3rem;
  color: #F4F7F5;
}

#exp .skipto {
  padding: 0;
  display: block;
}

#exp .fixed-skip {
  position: fixed;
  top: 16em;
  left: 3em;
}

#exp .fixed-skip p{
  text-transform: uppercase;
  font-size: .75em;

}

#exp p.skipto {
  /*cursor:pointer;*/


}

#exp .resume {
  float: right;
  display: block;
  padding-right: 6em;
}

#exp .resume p {
  text-transform: uppercase;
  font-size: .75em;
  color: #C2D3CD;
  -webkit-transition:color .25s ease;
  -moz-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

#exp .resume p:hover {
  color: #F4F7F5;
}

#exp .resume a {
  text-decoration: none;
}


#exp .s-exp,
#exp .s-skills,
#exp .s-edu {
  cursor: pointer;
  color: #08090A;
  padding-left: 1em;
  -webkit-transition:color .25s ease;
  -moz-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

#exp .s-exp:hover,
#exp .s-skills:hover,
#exp .s-edu:hover {
  color: #F4F7F5;
}

#exp .education {
  background-color: #847E89;

}

#exp .jobs {
  background-color: #9FA4A9;
}

#exp .education .school,
#exp .jobs .job {
  background: linear-gradient( to right, transparent .8%, #C2D3CD .8%, #C2D3CD 1.25%, transparent 1.25% );
  padding-bottom: 5em;
}

#exp .education h3{
  margin: 4em 0 2em 0;
}

#exp .exp-header {
  padding-bottom: 1.25em;
}

#exp .exp-header h4,
#exp .exp-header p  {
  margin: 0;
}
#exp .exp-header h4.haslink {
  color: #C2D3CD;
  cursor: pointer;
  -webkit-transition:color .25s ease;
  -moz-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

#exp .exp-header h4.haslink:hover {
  color: #847E89;
}

#exp .exp-description p {
  margin: .75em 0;
  line-height: 1.5em;
}

#exp .exp-description a {
  text-decoration: none;
  color: #C2D3CD;
  -webkit-transition:color .25s ease;
  -moz-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

#exp .exp-description a:hover {
  color: #847E89;

}

#exp  .circle { 
  /*background-color: #F4F7F5;*/
  border: 3px solid #C2D3CD;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: .5em 0 .75em 0;
  float: left;
  position: absolute;
}

#exp .education .circle {
  background-color: #847E89;
}

#exp .jobs .circle {
  background-color: #9FA4A9;
}

#exp .hidetop {
  float: left;
  background-color: #847E89;
  height: 1em;
  width: 1em;
}

#exp .jobs h3 {
  background:linear-gradient( to right, transparent .8%, #C2D3CD .8%, #C2D3CD 1.25%, transparent 1.25% );
  margin: 0;
  /*padding-top: 2em;*/
  padding-bottom: 1em ;
}

/*#exp .exp-description p {
  padding: 0;
}
*/

/*skills*/

#skills .skills {
  background-color: #C2D3CD;
  padding-bottom: 5em;

}

#skills h2, 
#skills h3, 
#skills p {
  color: #F4F7F5;
}

#skills .skills h3 {
  margin: 2em 0 2em 0;
}

#skills .interests h3 {
  margin: 2em 0 2em 0;
}

#skills .section-fixed {
  width: 65%;
  padding-left: 5em ;
}

#skills .xaxis {
  text-align: center;
  border-bottom: 1px solid #F4F7F5;
}

#skills .xaxis-bot {
  text-align: center;
  border-top: 1px solid #F4F7F5;
}

#skills .beg,
#skills .int,
#skills .adv{
  /*display: inline;*/
  text-transform: uppercase;
  font-size: .75em;
  color: #F4F7F5;

}

#skills .beg {
  float: left;
  padding-top: .4em;

}

#skills .int {
  display: inline-block;
  margin:0 auto;
}



#skills .xaxis .int {
  padding-bottom: .7em;
}

#skills .adv {
  float: right;
    padding-top: .4em;

}

#skills .bar {
  background-color: #847E89;
  padding: .5em;
  margin: 1em 0;
  

}
#skills .yes-descrip .bar{
  cursor: pointer;

}

#skills .yes-descrip .bar:hover p{
  color: #C2D3CD;
}

#skills .bar p {
  margin: 0;
  color: #F4F7F5;
  padding-left: 1em;
  /*-webkit-transition:color .25s ease;
  -moz-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;*/
}

#skills .examples {
  margin: 0 0 3em 1em;
}

#skills .examples .example p{
  margin: .5em 0;
}

#skills .fadein,
#skills .fadeout {
  -webkit-transition:all linear .3s;
  -moz-transition:all linear .3s;
  -o-transition:all linear .3s;
  transition:all linear .3s;
}

#skills .fadein.ng-hide-remove,
#skills .fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

#skills .fadeout.ng-hide-add,
#skills .fadein.ng-hide-remove.ng-hide-remove-active {
  
  opacity: 1;
  display: block !important;
}

#skills .interests {
  background-color: #9FA4A9;
  padding-bottom: 6em;
}

#skills .interests a{
  text-decoration: none;
  

}

#skills .interests.yes-descrip p {
  -webkit-transition:color linear .3s;
  -moz-transition:color linear .3s;
  -o-transition:color linear .3s;
  transition:color linear .3s;
}

#skills .interests.yes-descrip p:hover{
  color: #C2D3CD;

}



#skills .no-descrip .bar {
  cursor: none;
}




/*CONTACT*/

/*#contact .in {
  margin: 0 auto;
}*/

#contact .in img {
  height: 4em;
  width: 4em;
  display: block;
  margin: 8em auto 2em auto;
  opacity: .7;
  -webkit-transition:opacity linear .3s;
  -moz-transition:opacity linear .3s;
  -o-transition:opacity linear .3s;
  transition:opacity linear .3s;
}

#contact .in img:hover {
  opacity: 1;

}

#contact .section.section-email {
  /*background-color: black;*/
  height: 42em;

  -webkit-animation: contact-trans 10s ease-out infinite; /* Safari 4+ */
  -moz-animation:    contact-trans 10s ease-out infinite; /* Fx 5+ */
  -o-animation:      contact-trans 10s ease-out infinite; /* Opera 12+ */
  animation:         contact-trans 10s ease-out infinite; /* IE 10+, Fx 29+ */
  animation-play-state: paused; 
}

#contact .section.playing {
  animation-play-state: running;
}

#contact .e-mail {
  cursor: pointer;
}

#contact .e-mail h1 {
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  color: #F4F7F5;
  margin-top: 0;
  margin-bottom: 0.4em ;
  font-size: 8em;
  font-weight: 700;  
  opacity: .7;

  -webkit-transition:opacity linear .3s;
  -moz-transition:opacity linear .3s;
  -o-transition:opacity linear .3s;
  transition:opacity linear .3s;
}

#contact .e-mail h1.hover-email {
  opacity: 1;
  /*color: black;*/
}



#contact #copied.not-copied {
  display: none;
}

#contact #copied h5{
  text-transform: uppercase;
  /*color: #9FA4A9;*/
  color: white;
  text-align: center;
  font-weight: 500;

}

#contact #copied h5.mobile {
  display: none;
}





/*#contact h1:hover{
  animation-play-state: running;
  
}*/

@-webkit-keyframes contact-trans {
  0% { 
    background: #EFEFBB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 1;
  }
  10% {
    opacity: .2;
    background-position:300px;
  }
  20%   {

    background: #ddd6f3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ddd6f3 , #faaca8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ddd6f3 , #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 1;
        }
  30% {
    opacity: .2;
  }
  40%   {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  60%   {
    background: #DAE2F8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
  }
  80%   {
    background: #2BC0E4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
  }
  100%   {
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
  }
}
@-moz-keyframes contact-trans {
  0% { 
    background: #EFEFBB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  20%   {

background: #ddd6f3; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ddd6f3 , #faaca8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ddd6f3 , #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
  40%   {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
  }
  60%   {
    background: #DAE2F8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
  }
  80%   {
    background: #2BC0E4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
  }
  100%   {
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
  }
}
@-o-keyframes contact-trans {
  0% { 
    background: #EFEFBB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  20%   {

background: #ddd6f3; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ddd6f3 , #faaca8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ddd6f3 , #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
  40%   {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
  }
  60%   {
    background: #DAE2F8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
  }
  80%   {
    background: #2BC0E4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
  }
  100%   {
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
  }
}
@keyframes contact-trans {
  0% { 
    background: #EFEFBB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  20%   {

background: #ddd6f3; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ddd6f3 , #faaca8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ddd6f3 , #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
  40%   {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
  }
  60%   {
    background: #DAE2F8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
  }
  80%   {
    background: #2BC0E4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
  }
  100%   {
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
  }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


@media only screen and (max-width: 700px) {

html, body {
    font-size: 12px;
}



.gd-center {
    width: 96%;
    margin: 0 2%;
}
.col1, 
.col2, 
.col3, 
.col4, 
.col5, 
.col6, 
.col7, 
.col8, 
.col9, 
.col10, 
.col11,
.col12 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.s-half {
    width:49%;
    margin-right: 2%;
}
.s-last {
    margin-right: 0;
}

.section-fixed {
    width: 80%;
}

.header .header-right {
  float: left;
  padding: 0;
  margin: 0 0 3em 1.25em ;
}

.header .header-right {
  padding-left: 0;
  padding-right: 2em;
}

.header .header-left h4 {
  margin-right: 50%;
}

#work .slider .arrow {
  margin-top: -40%;
}

#work .slider .slide {
  height: 20em;
}
#work .slider .nav {
  height: 0;
}

#work .slider .wrapper {
  display: none;
}

#exp .section-fixed {
  width: 85%;
  padding: 0;
}

#exp .fixed-skip {
  display: none;
}

#exp .resume {
  display: none;
}

#exp .education .school, 
#exp .jobs .job {
  background: linear-gradient( to right, transparent 2.25%, #C2D3CD 2.25%, #C2D3CD 3%, transparent 3% );
}

#exp .exp-description {
  width: 90%;
}

#exp .exp-header h4.haslink {
  color: #C2D3CD;
}

#skills .beg,
#skills .int,
#skills .adv {
  display: none;
}

#skills .section-fixed {
  padding-left: 0;
}

#contact .e-mail h1 {
  font-size: 4em;
}

#contact #copied h5.mobile {
  display: block;
}

#contact #copied h5.non-mobile {
  display: none;
}



}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


